INSERT INTO {{ yps_db_name }}.registrationidentifier (UUID, description, nodeTypeID, timestamp, modificationTime, status, secretKeyId, secretKey) VALUES ('{{ de_group_id }}', '{{ de_desc }}', 32, UNIX_TIMESTAMP(NOW()), UNIX_TIMESTAMP(NOW()), 'enable', '{{ de_secret_key_id }}', '{{ de_secret_key }}');
