#Address of Sentinel Directory Services Server
YPSAddress={{ yps_server_url }}/

#Address of Sentinel Directory Services Server registration request
YPSRegister=registerNode.form

#Address of Sentinel Directory Services Server support node request
YPSSupportNode=supportNode.form

#Address of Sentinel Directory Services Server heart beat request
YPSHeartBeat=refreshRegistration.form

#Address of Sentinel Directory Services Server deregistration request
YPSDeregister=deregisterNode.form

#Address of Sentinel Directory Services Server delete node request
YPSDeleteNode=deleteNode.form

#Address of Sentinel Directory Services Server admin request
YPSAdminRequest=adminRequest/getNodeIP

# description of the calling node
nodeDescription=VAdmin node-{{ vadmin_reg_id }}

#DB Connection Pool Provider (Default = Hikaricp. Allowed values - Hikaricp/DBCP )
DBCPoolProvider=Hikaricp

# initialize size of DB queue
DBInitialSize={{ db_initial_size }}

# max number of active connections in DB 
DBMaxActive={{ db_max_active }}

# max number of idle connections in DB
DBMaxIdle={{ db_max_idle }}

# max waiting time in DB
DBMaxWait={{ db_max_wait }}

# Hikaricp configuration

# maximum wait time for a connection from the pool
DBConnectionTimeout={{ db_connection_timeout }}

# maximum amount of time that a connection is allowed to sit idle in the pool
DBIdleTimeout={{ db_idle_timeout }}

# maximum lifetime of a connection in the pool
DBMaxLifetime={{ db_max_lifetime }}

# maximum size that the pool is allowed to reach, including both idle and in-use connections
DBMaximumPoolSize={{ db_maximum_pool_size }}

# minimum number of idle connections that HikariCP tries to maintain in the pool
DBMinimumIdle={{ db_minimum_idle }}

# maximum amount of time that a connection will be tested for aliveness. This value must be less than the connectionTimeout
DBValidationTimeout={{ db_validation_timeout }}

# amount of time that a connection can be out of the pool before a message is logged indicating a possible connection leak
DBLeakDetectionThreshold={{ db_leak_detection_threshold }}


#Secret Key Id
SecretKeyId={{ vadmin_secret_key_id }}

#Secret Key
SecretKey={{ vadmin_secret_key }}

#Registration Id
RegistrationId={{ vadmin_reg_id }}

#protocol to use to interact with SCC
SCCProtocol=http://

#port to use to interact with SCC
SCCPort=80

#URL to be used to hit SCC to trigger vendor list refresh
SCCRefreshUrl=adminRequest/refreshNodes

