INSERT INTO T_USER(LoginId, ExpiresOn, IsEnabled, EmailId, UserPassword, RefId1, RefId2,IsConfigurator,GLOBALID ) VALUES ('{{ smso_admin_user }}', NULL, 1, 'saasops@safenet-inc.com', MD5('{{ smso_admin_password }}'), NULL, NULL,1,uuid());

INSERT INTO T_USER_ROLES_REF (UserID, RoleId) VALUES ((SELECT USERID FROM T_USER WHERE LoginId = '{{ smso_admin_user }}'), 1);


INSERT INTO T_USER(LoginId, ExpiresOn, IsEnabled, EmailId, UserPassword, RefId1, RefId2,IsConfigurator,GLOBALID) VALUES ('{{ ems_configurator_user }}', NULL, 1, 'smso@gemalto.com', MD5('{{ ems_configurator_password }}'), NULL, NULL,1,uuid());

INSERT INTO T_USER_ROLES_REF (UserID, RoleId) VALUES ((SELECT USERID FROM T_USER WHERE LoginId = '{{ ems_configurator_user }}'), 1);

