
update T_EMS_PROPERTIES set PropertyValue='{{ ems_use_socks_server }}' where PropertyName='Enable SocksProxy' and PropertyKey='socksProxyEnable';
update T_EMS_PROPERTIES set PropertyValue='{{ ems_socks_host }}' where PropertyName='SocksProxy Host' and PropertyKey='socksProxyHost';
update T_EMS_PROPERTIES set PropertyValue='{{ ems_socks_port }}' where PropertyName='SocksProxy Port' and PropertyKey='socksProxyPort';

-- HIDING OUT GOING EMAIL SETTINGS TO UNHIDE PASS '0' for ISVISIBLE....
UPDATE T_EMS_PROPERTIES SET ISVISIBLE = '0' WHERE PROPERTYGROUPID = '1' and (PropertyKey='socksProxyEnable' or PropertyKey='socksProxyHost' or PropertyKey='socksProxyPort');
