update T_EMS_PROPERTIES set PropertyValue='{{ smtp_host }}' where PropertyName='SMTP Host' and PropertyKey='mailsenderhost';
update T_EMS_PROPERTIES set PropertyValue='{{ smtp_port }}' where PropertyName='SMTP Port' and PropertyKey='smtpport';
update T_EMS_PROPERTIES set PropertyValue='{{ smtp_username }}' where PropertyName='User Name' and PropertyKey='mailusername';
update T_EMS_PROPERTIES set PropertyValue='{{ smtp_password }}' where PropertyName='Password' and PropertyKey='mailpassword';
update T_EMS_PROPERTIES set PropertyValue='{{ smtp_auth }}' where PropertyName='SMTP auth' and PropertyKey='smtpauth';

update T_EMS_PROPERTIES set PropertyValue='{{ smtp_mailfrom }}' where PropertyName='Sender E-mail' and PropertyKey='mailfrom';
update T_EMS_PROPERTIES set PropertyValue='{{ smtp_sender_name }}' where PropertyName='Sender Name' and PropertyKey='senderName';
update T_EMS_PROPERTIES set PropertyValue='{{ smtp_start_tls }}' where PropertyName='Start TLS' and PropertyKey='starttls';
-- update T_EMS_PROPERTIES set PropertyValue='{{ email_master_footer }}' where PropertyName='E-mail Master Footer' and PropertyKey='EmailMasterFooter';


update T_EMS_PROPERTIES set PropertyValue='{{ entcert_email_from }}' where PropertyName='Sender E-mail' and PropertyKey='entCertEmailFrom';
update T_EMS_PROPERTIES set PropertyValue='{{ liccert_email_from }}' where PropertyName='Sender E-mail' and PropertyKey='licCertEmailFrom';
update T_EMS_PROPERTIES set PropertyValue='{{ cont_cert_email_from }}' where PropertyName='Sender E-mail' and PropertyKey='contCertEmailFrom';

update T_EMS_PROPERTIES set PropertyValue='{{ batch_cert_email_from }}' where PropertyName='Sender E-mail' and PropertyKey='batchCertEmailFrom';
update T_EMS_PROPERTIES set PropertyValue='{{ batch_fail_email_from }}' where PropertyName='Batch Certificate Failed Email From' and PropertyKey='batchFailEmailFrom';

update T_EMS_PROPERTIES set PropertyValue='{{ email_from_revocation_request_rejected }}' where PropertyName='Sender E-mail' and PropertyKey='emailFrom.RevocationRequestRejected';
update T_EMS_PROPERTIES set PropertyValue='{{ email_from_revocation_request_confirmed }}' where PropertyName='Sender E-mail' and PropertyKey='emailFrom.RevocationRequestConfirmed';
update T_EMS_PROPERTIES set PropertyValue='{{ email_from_revocation_proof_recieved }}' where PropertyName='Sender E-mail' and PropertyKey='emailFrom.RevocationProofRecieved';
update T_EMS_PROPERTIES set PropertyValue='{{ email_from_revocation_request }}' where PropertyName='Sender E-mail' and PropertyKey='emailFrom.RevocationRequest';

-- HIDING OUT GOING EMAIL SETTINGS TO UNHIDE PASS '0' for ISVISIBLE....
-- UPDATE T_EMS_PROPERTIES SET ISVISIBLE = '0' WHERE PROPERTYGROUPID = '1';
