use {{ yps_db_name }};

INSERT INTO registrationidentifier (UUID, description, nodeTypeID, timestamp, modificationTime, status, secretKeyId, secretKey) VALUES ('{{ vadmin_reg_id }}', '{{ vadmin_desc }}', 4, UNIX_TIMESTAMP(NOW()), UNIX_TIMESTAMP(NOW()), 'enable', '{{ vadmin_secret_key_id }}', '{{ vadmin_secret_key }}')
