INSERT INTO {{ yps_db_name }}.registrationidentifier (UUID, description, nodeTypeID, timestamp, modificationTime, status, secretKeyId, secretKey) VALUES ('{{ device_group_id }}', '{{ scc_desc }}', 128, UNIX_TIMESTAMP(NOW()), UNIX_TIMESTAMP(NOW()), 'enable', '{{ device_secret_key_id }}', '{{ device_secret_key }}');
