INSERT INTO {{ yps_db_name }}.registrationidentifier (UUID, description, nodeTypeID, timestamp, modificationTime, status, secretKeyId, secretKey) VALUES ('{{ licgen_group_id }}', '{{ licgen_desc }}', 64, UNIX_TIMESTAMP(NOW()), UNIX_TIMESTAMP(NOW()), 'enable', '{{ licgen_secret_key_id }}', '{{ licgen_secret_key }}');
