INSERT INTO {{ yps_db_name }}.registrationidentifier (UUID, description, nodeTypeID, timestamp, modificationTime, status, secretKeyId, secretKey) VALUES ('{{ pa_group_id }}', '{{ pa_app_desc }}', 8, UNIX_TIMESTAMP(NOW()), UNIX_TIMESTAMP(NOW()), 'enable', '{{ pa_secret_key_id }}', '{{ pa_secret_key }}');
