INSERT INTO {{ yps_db_name }}.registrationidentifier (UUID, description, nodeTypeID, timestamp, modificationTime, status, secretKeyId, secretKey) VALUES ('{{ scc_group_id }}', '{{ scc_desc }}', 2, UNIX_TIMESTAMP(NOW()), UNIX_TIMESTAMP(NOW()), 'enable', '{{ scc_secret_key_id }}', '{{ scc_secret_key }}');
