Insert into tenant_extra_attributes_values set master_id = (select id from tenant_extra_attributes_master where attribute_name='Vendor Code' and parent=
(select id from tenant_extra_attributes_master where attribute_name='RMS')
), tenant_id = (select TenantId from Tenant where TenantName = '{{ isv_alias }}'), value = '{{ vendor_secret_blob }}';

Insert into tenant_extra_attributes_dependent set TenantExtraAttributesValueId = (select id from tenant_extra_attributes_values where master_id=(select id from tenant_extra_attributes_master where attribute_name='Vendor Code' and parent=(select id from tenant_extra_attributes_master where attribute_name='RMS')
) and tenant_id = (select TenantId from Tenant where TenantName='{{ isv_alias }}') and value = '{{ vendor_secret_blob }}')
,TenantExtraAttributesMasterId = (select id from tenant_extra_attributes_master where attribute_name='KeyId' and parent=
(select id from tenant_extra_attributes_master where attribute_name='RMS')) , Value = '{{ vendor_sign_key_id }}' , CreationTime = now() , ModificationTime = now();

Insert into tenant_extra_attributes_dependent set TenantExtraAttributesValueId =
(Select id from tenant_extra_attributes_values where master_id=
(select id from tenant_extra_attributes_master where attribute_name='Vendor Code' and parent=
(select id from tenant_extra_attributes_master where attribute_name='RMS')
) and tenant_id = (select TenantId from Tenant where TenantName='{{ isv_alias }}') and value = '{{ vendor_secret_blob }}'
) ,TenantExtraAttributesMasterId = (select id from tenant_extra_attributes_master where attribute_name='Version' and parent=
(select id from tenant_extra_attributes_master where attribute_name='RMS')
) , Value = '{{ vendor_secret_blob_ver }}' , CreationTime = now() , ModificationTime = now();
