INSERT INTO saas_{{ isv_alias }}.tenant_auth_info (TenantID, PluginInfo, AuthServerUrl, SecretKeyId, SecretKey, CreationTime, ModificationTime) VALUES (1, '{{ auth_plugin_info }}', '{{ auth_server_url }}', '{{ auth_secret_key_id }}', '{{ auth_secret_key }}', UNIX_TIMESTAMP(NOW()), UNIX_TIMESTAMP(NOW()));

