UPDATE configurations
	SET PropertyValue = CASE PropertyKey
		WHEN	'lastRefreshTimeStaleValue'	THEN	'{{ lastRefreshTimeStaleValue }}'
		WHEN	'noLastRefreshStaleValue' THEN	'{{ noLastRefreshStaleValue }}'
		WHEN	'numberOfDaysToConsiderRecords'	THEN	'{{ numberOfDaysToConsiderRecords }}'
		WHEN	'sessionTimeOutCountValue'	THEN	'{{ sessionTimeOutCountValue }}'
		WHEN	'sessionTimeOutTimeValue'	THEN	'{{ sessionTimeOutTimeValue }}'
		WHEN	'expirationDelay' THEN	'{{ expirationDelay }}'
		WHEN	'granularity'	THEN	'{{ granularity }}'
		WHEN	'scheduleFrequency'	THEN	'{{ scheduleFrequency }}'
		WHEN	'usageDelay' THEN	'{{ usageDelay }}'
		WHEN	'cookieTimeOut'	THEN	'{{ cookieTimeOut }}'
		WHEN	'numberOfDaysToConsiderRecords'	THEN	'{{ numberOfDaysToConsiderRecords }}'
		WHEN	'registration_Mode' THEN	'{{ registration_Mode }}'
		WHEN	'sessionTimeOutCountValue'	THEN	'{{ sessionTimeOutCountValue }}'
		WHEN	'sessionTimeOutTimeValue_min' THEN	'{{ sessionTimeOutTimeValue_min }}'
		WHEN	'startTimeStaleValue_min'	THEN	'{{ startTimeStaleValue_min }}'
		WHEN	'stateSyncTime_min'	THEN	'{{ stateSyncTime_min }}'
		WHEN	'tempContainerRefreshInterval_percent'	THEN	'{{ tempContainerRefreshInterval_percent }}'
		WHEN	'server_numberOfDaysToConsiderRecords'	THEN	'{{ server_numberOfDaysToConsiderRecords }}'
		WHEN	'server_registration_Mode'	THEN	'{{ server_registration_Mode }}'
		WHEN	'server_sessionTimeOutCountValue'	THEN	'{{ server_sessionTimeOutCountValue }}'
		WHEN	'server_sessionTimeOutTimeValue_min'	THEN	'{{ server_sessionTimeOutTimeValue_min }}'
		WHEN	'server_startTimeStaleValue_min'	THEN	'{{ server_startTimeStaleValue_min }}'
		WHEN	'server_stateSyncTime_min'	THEN	'{{ server_stateSyncTime_min }}'
		WHEN	'lowerDetachDurationFlag'	THEN	'{{ lowerDetachDurationFlag }}'
		WHEN	'terminalServerFlag'	THEN	'{{ terminalServerFlag }}'
		WHEN	'defaultTTL'	THEN	'{{ defaultTTL }}'
		WHEN	'disableLicenseTTL'	THEN	'{{ disableLicenseTTL }}'
		WHEN	'expiredLicenseTTL'	THEN	'{{ expiredLicenseTTL }}'
		WHEN	'licenseDoesNotExistTTL'	THEN	'{{ licenseDoesNotExistTTL }}'
		WHEN	'postpaidTTL'	THEN	'{{ postpaidTTL }}'
		WHEN	'prepaidTTL'	THEN	'{{ prepaidTTL }}'
		WHEN	'subscriptionConcurrentTTL'	THEN	'{{ subscriptionConcurrentTTL }}'
		WHEN	'subscriptionTTL'	THEN	'{{ subscriptionTTL }}'
	END
	WHERE  PropertyKey IN (PropertyKey);
